{% extends 'base.html.twig' %}

{% block pageTitle %}Builds for {{ environment.name }} @ {{ project.name }}{% endblock %}
{% block pageName %}Builds for: {{ environment.name }} @ {{ project.name }}{% endblock %}

{% block pageContent %}
<div id="mage-environment-builds" data-url="{{ path('mage_api_environments_builds', {'id': environment.id}) }}"></div>
{% endblock %}

{% block javascript %}
<script type="text/babel" src="{{ asset('assets/js/environment.js') }}"></script>
{% endblock %}