{% extends 'base.html.twig' %}

{% block pageTitle %}{{ environment is defined ? environment.name : 'New environment' }} @ {{ project.name }}{% endblock %}
{% block pageName %}Environment: {{ environment is defined ? environment.name : 'New environment' }} @ {{ project.name }}{% endblock %}

{% block pageContent %}
{{ form_start(form) }}
    <div class="row">
        {% if not form.vars.valid %}
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                {% for child in form.children %}
                    {{ form_errors(child) }}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Settings for the Environment: {{ environment is defined ? project.name : 'new environment' }} on project {{ project.name }}</h4>
                            <p class="card-category">Fill out the environment settings</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating {{ form.name.vars.errors|length ? 'has-error' : '' }}">Name</label>
                                        {{ form_widget(form.name) }}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group label-floating {{ form.code.vars.errors|length ? 'has-error' : '' }}">
                                        <label class="control-label">Code</label>
                                        {{ form_widget(form.code) }}
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating {{ form.group.vars.errors|length ? 'has-error' : '' }}">User Group</label>
                                        {{ form_widget(form.group) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Configuration</label>
                                        <div class="form-group">
                                            <label class="bmd-label-floating {{ form.config.vars.errors|length ? 'has-error' : '' }}"> Make sure your YAML is correct</label>
                                            {{ form_widget(form.config) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">Save</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-with-icon">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-git"></i>
                            </div>
                            <h3 class="card-title">Repository configuration</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating {{ form.branch.vars.errors|length ? 'has-error' : '' }}">Branch</label>
                                        {{ form_widget(form.branch) }}
                                    </div>
                                </div>

                                {% if environment is defined %}
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">GitHub Webhook</label>
                                        <p>
                                            <code>https://deployment.acilia.net/github-webhook/{{ environment.id }}</code>
                                        </p>

                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card card-with-icon">
                        <div class="card-header card-header-terminal card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-terminal"></i>
                            </div>
                            <h3 class="card-title">SSH configuration</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label> SSH Key</label>
                                        <div class="form-group">
                                            <label class="bmd-label-floating {{ form.sshKey.vars.errors|length ? 'has-error' : '' }}"> Private Key for SSH connection (if needed)</label>
                                            {{ form_widget(form.sshKey) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label> SSH Public Key</label>
                                        <div class="form-group">
                                            <label class="bmd-label-floating {{ form.sshPublicKey.vars.errors|length ? 'has-error' : '' }}"> Public Key for SSH connection (if needed)</label>
                                            {{ form_widget(form.sshPublicKey) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ form_rest(form) }}
</form>
{% endblock %}